body{
/* 画像ファイルの指定 */
  background-image: url(img/momo.jpg);

/* 画像を常に天地左右の中央に配置 */
  background-position: center center;

/* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

/* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

/* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

/* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646 ;
  @media only screen and (max-width: 767px) {
  body {
    background-image: url(img/momo.jpg);
  }
}
}

   div.box1 {
   width:900px; height:200px;
   margin:10px 5px  5px 5px; padding:10px; border:1px solid black;
   background-color:lightgray;
   float:right;
     overflow: scroll;   /* スクロール表示 */
      background-color: rgba( 0, 0, 0, 0.55 );
      color: white;
   }

   div.box2 {
   width:900px; height:200px;
   margin:5px 5px  5px 5px; padding:10px; border:1px solid black;
   background-color:lightgray;
   float:right;
     overflow: scroll;   /* スクロール表示 */
      background-color: rgba( 0, 0, 0, 0.55 );
      color: white;
   }

h1{
  color:#D8D8D8;
  margin:5px 50px 5px 150px;
  font-size:60px;
}
